/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
  font-family: 'Open Sans', sans-serif;
}
.submit-button{
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  font-family: "Montserrat SemiBold";
  background-color: #FEC30F;
  color: #000;
}

.submit-button:hover {
  background-color: #FFD743;
}

.submit-button[disabled] {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}
