<div class="container">
  <h1>Create Bill</h1>
  <form [formGroup]="billForm" (ngSubmit)="createBill()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" type="number" required>
      <mat-error *ngIf="billForm.get('amount')?.hasError('required')">Amount is required.</mat-error>
      <mat-error *ngIf="billForm.get('amount')?.hasError('min')">Amount cannot be negative.</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="billForm.invalid">Create</button>
    </div>
  </form>
</div>
