body {
  margin: 0;
}

header {
  background-color: var(--primary-text-color);
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

main p {
  font-size: 16px;
  line-height: 1.5;
}




.yellow-theme {
  --primary-color: #FEC30F;
  --primary-text-color: #000;
}

.yellow-theme mat-toolbar {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}


.yellow-theme footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-text-color);
  color: var(--primary-color);
}
footer p {
  margin: 0;
  font-size: 14px;
}
.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography ,.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6  {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.logo-text {
  margin-left: 10px;
}
