.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-content {
  width: 100%;
  max-width: 400px;
  margin-top: -20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-error, p.ng-star-inserted {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
